<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>

<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label>first name</label>
        <br>
        <input type="text" name="fname">
        <br>
        <label>last name</label>
        <br>
        <input type="text" name="lname">
        <br>
        <br>
        <label>profile picture</label>
        <br>
        <br>
        <input type="file" name="profile">
        <br>
        <br>
        <input type="submit">
    </form>
</body>

</html>