<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home page</h1>

    <form action="/v1/student/add" method="post">
        <input type="text" name="firstName">
        <input type="text" name="lastName">
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="submit">
    </form>
 
    <% messege?.forEach(element => {%>
        <h1><%= element.username %></h1>
    <%}); %>
</body>
</html>